{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pets Team</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/n.css' %}">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</head>

<style>
  body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding-top: 56px; 
  }

  .navbar {
    background: linear-gradient(to left, rgba(255, 166, 0, 0.89), rgba(8, 8, 8, 0.658));
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .navbar-nav .nav-link {
    color: white;
  }

  .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
  }

  .card {
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 15px;
    overflow: hidden;
  }

  .carousel-caption {
    bottom: 20%;
    background: rgba(190, 154, 124, 0.466);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
  }

  footer {
    background: linear-gradient(to left, rgba(255, 166, 0, 0.89), rgba(8, 8, 8, 0.658));
    backdrop-filter: blur(10px);
    padding: 20px 0;
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
  }

  h2 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
  }

  .form-control {
    font-family: inherit; }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/21/21565.png" alt="" style="filter: brightness(0) invert(1);">
        <span class="text-white">Pets</span> Team
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'principal' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'iniciarsesionColaborador' %}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Servicios a postular</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://fotografias.antena3.com/clipping/cmsimages01/2022/10/11/553426E8-890D-4503-B5E6-61CA30B41B12/perro-raza-corgi_98.jpg?crop=1920,1080,x0,y101&width=1900&height=1069&optimize=low&format=webply" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h1>Colaboradores<br><span class="text-warning">Pets</span> Team</h1>
          <p>En el Hotel de Mascotas Pets Team, trabajamos en equipo para garantizar una experiencia de lujo para cada perro, ofreciendo un ambiente cómodo y seguro, siempre comprometidos con su bienestar.</p>
          <p><a href="#" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#registroModal">¡Registrate aquí!</a></p>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="registroModalLabel" style="text-align: center;">Registro de Colaboradores</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registroForm" method="POST" enctype="multipart/form-data" action="{% url 'registro_colaborador' %}">
          {% csrf_token %}
          
          <div class="mb-3">
              <label for="fullname" class="form-label">Nombre Completo:</label>
              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Nombre Completo" required>
          </div>

          <div class="mb-3">
              <label for="username" class="form-label">Nombre de Usuario:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario" required>
              <div id="username-feedback" class="text-danger"></div>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Teléfono:</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="+569" required>
          </div>

          <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="usuario@gmail.com" required>
              <div id="email-feedback" class="text-danger"></div>
          </div>

          <div class="mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
          </div>


          <div class="mb-3">
              <label for="service" class="form-label">Servicios a postular:</label>
              <select class="form-select" id="service" name="service" required>
                  <option value="" disabled selected>Seleccione un servicio:</option>
                  <option value="Baños">Baños</option>
                  <option value="Spa">Spa</option>
                  <option value="Fotografía">Fotografía</option>
                  <option value="Cortes de pelo">Cortes de pelo</option>
                  <option value="Servicio de transportes">Transportes</option>
              </select>
          </div>

          <div class="mb-3">
              <label for="pdf-upload" class="form-label">Subir Archivo PDF</label>
              <input type="file" class="form-control" id="pdf-upload" name="pdf_file" accept=".pdf" required>
          </div>

          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>


<script>
  {% if messages %}
    {% for message in messages %}
      Swal.fire({
        icon: '{{ message.tags }}' === 'success' ? 'success' : 'error',
        title: '{{ message.tags }}' === 'success' ? 'En espera de confirmación' : 'Error al registrar',
        text: '{{ message }}',
        showConfirmButton: false,
        timer: 5000
      });
    {% endfor %}
  {% endif %}


  document.getElementById('registroForm').addEventListener('submit', function(event) {
    var fullname = document.getElementById('fullname').value;
    var username = document.getElementById('username').value;
    var phone = document.getElementById('phone').value;
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;

    var usernamePattern = /^(?=.*[A-Z])(?=.*[0-9])(?=.*[.-]).{1,15}$/;
    var phonePattern = /^\+569\d{8}$/;
    var passwordPattern = /^(?=.*[A-Z]).{1,15}$/;

    if (fullname.length > 100) {
      event.preventDefault();
      Swal.fire('Error', 'El nombre completo no puede exceder los 100 caracteres.', 'error');
    } else if (!usernamePattern.test(username)) {
      event.preventDefault();
      Swal.fire('Error', 'El nombre de usuario debe tener al menos una mayúscula, un número, y un punto o guion. Máximo 15 caracteres.', 'error');
    } else if (!phonePattern.test(phone)) {
      event.preventDefault();
      Swal.fire('Error', 'El teléfono debe tener el formato +56 9 seguido de 8 dígitos.', 'error');
    } else if (!passwordPattern.test(password)) {
      event.preventDefault();
      Swal.fire('Error', 'La contraseña debe contener al menos una letra mayúscula y tener hasta 15 caracteres.', 'error');
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    var phoneInput = document.getElementById('phone');
    
    phoneInput.value = "+569";
    phoneInput.setSelectionRange(phoneInput.value.length, phoneInput.value.length);
    
    phoneInput.addEventListener('keydown', function(event) {
      var cursorPosition = phoneInput.selectionStart;
    
      if ((event.key === 'Backspace' || event.key === 'Delete') && cursorPosition <= 4) {
        event.preventDefault();
      }
    
      if (cursorPosition < 4 && event.key !== 'ArrowRight' && event.key !== 'Tab') {
        event.preventDefault();
        phoneInput.setSelectionRange(4, 4);
      }
    });
    

    phoneInput.addEventListener('input', function() {
      if (phoneInput.value.length > 12) { 
        phoneInput.value = phoneInput.value.slice(0, 12);
      }
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
