{% extends 'base/colaborador/basePerfil.html' %}

{% load static %}

{% block title %}
Inicio - colab
{% endblock %}

{% block content %}

<section class="text-center mb-5">
    <h1 class="mb-4">Panel de {{ colaborador.fullname }}</h1>
    <h4 class="mb-4">Servicio: {{ colaborador.servicio }}</h4>
    <hr>
</section>

<div class="row d-flex justify-content-center">
    <div class="col-6">
    <div class="card">
        <div class="card-body">
            <h2>Disponibilidad de horario</h2> 
            <div class="container mt-5">
                <form method="POST">
                    {% csrf_token %}
            
                    <div class="mb-3">
                        <label for="id_fecha" class="form-label">Fecha:</label>
                        {{ form.fecha }}
                    </div>
            
                    <div class="mb-3">
                        <label for="id_hora_inicio" class="form-label">Hora de inicio:</label>
                        {{ form.hora_inicio }}
                    </div>
            
                    <div class="mb-3">
                        <label for="id_hora_fin" class="form-label">Hora de fin:</label>
                        {{ form.hora_fin }}
                    </div>
            
                    <button type="submit" class="btn btn-primary">Guardar disponibilidad</button>
                </form>
            
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    
            flatpickr("#id_fecha", {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: "today" 
            });
    
    
            flatpickr("#id_hora_inicio", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:00", 
                time_24hr: true,
                minTime: "08:00",
                maxTime: "18:00",  
                minuteIncrement: 60,  
                onChange: function(selectedDates, dateStr, instance) {
               
                    let horaInicio = selectedDates[0];
                    let horaFin = new Date(horaInicio.getTime() + 60 * 60 * 1000); 
                    
                    let horaFinInput = document.querySelector("#id_hora_fin");
                    horaFinInput._flatpickr.setDate(horaFin, true);
                }
            });
    
            
            flatpickr("#id_hora_fin", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:00",  
                time_24hr: true,
                minuteIncrement: 60,  
                clickOpens: false,  
                readOnly: true  
            });
        });
    </script>
    </div>
</div>
{% endblock %}