body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand img {
    max-height: 90px;
}

.navbar-nav .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover { 
    color: #000;
}

.card {
    border: none;
}

.card-body {
    padding: 2rem;
}

.card-body svg {
    color: #007bff;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    border: none;
}

footer {
    background-color: #f1f1f1;
}
