/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1fbff;
}

.navbar {
    border-bottom: 2px solid #ddd;
}

.navbar-brand img {
    border-radius: 50%;
}

.table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #f8f9fa;
    color: #333;
}

.table .carrito-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.table td, .table th {
    vertical-align: middle;
}

.btn {
    font-weight: 500;
    border-radius: 5px;
}

.btn-outline-success {
    border-color: #28a745;
    color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.h3 {
    font-weight: 600;
}
