{% extends 'base/admin/Administrador.html' %}
{% load static %}

{% block title %}
Admin - Habitaciones
{% endblock %}

{% block content %}
<div class="container py-4"></div>
<section class="text-center mb-5">
    <h1 class="mb-4">Agregar Habitación</h1>
</section>

<section class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="form-group mb-3">
                    <input type="file" name="imagen_habitacion" id="imagen_habitacion" class="form-control" required>
                </div>
    
                <div class="form-group mb-3">
                    <input name="numero_habitacion" id="numero_habitacion" type="text" class="form-control" placeholder="Numero habitacion" required>
                </div>
                
                <div class="form-group mb-3">
                    <select class="form-select" aria-label="Default select example" name="tipo_habitacion" required>
                        <option selected disabled>Selecciona tipo de habitacion</option>
                        <option value="Basica">Basica</option>
                        <option value="Clasica">Clasica</option>
                        <option value="Premium">Premium</option>
                        </select>
                </div>
    
                <div class="input-group form-group mb-3">
                    <input name="precio" id="precio" type="number" class="form-control" min="0" placeholder="Precio" required>
                    <span class="input-group-text">CLP</span>
                </div>
    
                
                {% if mensaje %}
                    <div class="alert alert-warning" role="alert">{{ mensaje }}</div>
                {% endif %}
    
                <button type="submit" class="btn btn-primary mt-4">Agregar Habitación</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}