{% extends 'base/admin/Administrador.html' %}

{% block title %}
Inicio - Admin
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1 class="mb-4">Panel de Administrador</h1>

<div class="row">  

    <div class="col-md-4 mt-4">
        <div class="card shadow border-light">
            <div class="card-body">
                <i class="fas fa-home fa-3x mb-3"></i>
                <h5 class="card-title" style="color: black;">Habitaciones</h5>
                <a class="btn btn-primary" href="{% url 'listarProducto' %}">Ver</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-4">
        <div class="card shadow border-light">
            <div class="card-body">
                <i class="fas fa-check-circle fa-3x mb-3"></i>
                <h5 class="card-title" style="color: black;">Solicitudes</h5>
                <a class="btn btn-primary" href="{% url 'solicitudes_admin' %}">Ver</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-4">
        <div class="card shadow border-light">
            <div class="card-body">
                <i class="fas fa-users fa-3x mb-3"></i>
                <h5 class="card-title" style="color: black;">Colaboradores</h5>
                <a class="btn btn-primary" href="{% url 'listar_colaboradores_aprobados' %}">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="card shadow border-light">
            <div class="card-body">
                <i class="fas fa-users fa-3x mb-3"></i>
                <h5 class="card-title" style="color: black;">Membresias</h5>
                <a class="btn btn-primary" href="{% url 'gestionar_membresias' %}">Ver</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
