{% extends 'base/admin/Administrador.html' %}

{% block title %}
Inicio - Admin
{% endblock %}

{% block content %}

<div class="container py-5">
    <section class="text-center mb-5">
        <h1 class="mb-4">Habitaciones</h1>
        <hr>
    </section>

    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-custom table-bordered">
                    <thead>
                        <tr>
                            <th>ID Producto</th>
                            <th>Imagen</th>
                            <th>Numero</th>
                            <th>Tipo de Habitación</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if productos %}
                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.id }}</td>
                                    <td>
                                        <img style="height: 80px; width: 80px;" src="/media/{{producto.imagen_habitacion}}" alt="Imagen del Producto">
                                    </td>
                                    <td>{{ producto.numero_habitacion }}</td>
                                    <td>{{ producto.tipo_habitacion }}</td>
                                    <td>{{ producto.precio }} CLP</td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a href="{% url 'modificarProducto' producto.id %}" class="btn btn-warning">
                                                <i class="fas fa-pencil-alt"></i> Modificar
                                            </a>
                                            <a class="delete btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteProductoModal-{{producto.id}}" data-url="{% url 'eliminarProducto' producto.id %}">Eliminar</a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Modal para confirmar la eliminación de la habitación -->
                                <div class="modal fade" id="confirmDeleteProductoModal-{{producto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel-{{producto.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel-{{producto.id}}">Confirmar eliminación</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de que deseas eliminar esta habitación?
                                                <p style="color: red;">Las reservas que estén asociadas a esta habitación también se eliminarán.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a id="confirmDeleteBtn-{{producto.id}}" href="#" class="btn btn-danger">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Script para gestionar el modal de eliminación de forma dinámica -->
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var confirmDeleteProductoModal = document.getElementById('confirmDeleteProductoModal-{{ producto.id }}');
                                        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn-{{ producto.id }}');

                                        confirmDeleteProductoModal.addEventListener('show.bs.modal', function (event) {
                                            var button = event.relatedTarget;
                                            var url = button.getAttribute('data-url');
                                            confirmDeleteBtn.setAttribute('href', url);
                                        });
                                    });
                                </script>

                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">
                                    <h3 class="text-center">No hay productos</h3>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
