{% extends 'base/admin/Administrador.html' %}

{% block title %}
Inicio - Admin
{% endblock %}

{% block content %}
            <div id="messages" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; text-align: center; width: 300px;">
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="container py-5">
                <section class="text-center mb-5">
                    <h2 class="mb-4">Gestión de Solicitudes</h2>
                    <hr>
                </section>

                <section class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <table class="table table-custom table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID Solicitud</th>
                                        <th>Nombre del Solicitante</th>
                                        <th>Teléfono</th>
                                        <th>Correo Electrónico</th>
                                        <th>Servicio Solicitado</th>
                                        <th>Estado</th>
                                        <th>Archivo PDF</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if solicitudes %}
                                        {% for solicitud in solicitudes %}
                                            <tr>
                                                <td>{{ solicitud.id }}</td>
                                                <td>{{ solicitud.fullname }}</td>
                                                <td>{{ solicitud.phone }}</td>
                                                <td>{{ solicitud.email }}</td>
                                                <td>{{ solicitud.servicio }}</td>
                                                <td>{{ solicitud.estado }}</td>
                                                <td>
                                                    {% if solicitud.pdf_file %}
                                                        <a href="{{ solicitud.pdf_file.url }}" class="btn btn-custom btn-custom-download text-dark" target="_blank">
                                                            <i class="fas fa-download text-dark"></i> Descargar PDF
                                                        </a>
                                                    {% else %}
                                                        Sin archivo
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-around">
                                                        <a href="{% url 'gestionar_solicitud' solicitud.id 'aprobar' %}" class="btn btn-custom btn-custom-edit">
                                                            <i class="fas fa-check"></i> Aprobar
                                                        </a>
                                                        <a href="{% url 'gestionar_solicitud' solicitud.id 'rechazar' %}" class="btn btn-custom btn-custom-delete">
                                                            <i class="fas fa-times"></i> Rechazar
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8">
                                                <h3 class="text-center">No hay solicitudes</h3>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                setTimeout(function() {
                    var messageDiv = document.getElementById('messages');
                    if (messageDiv) {
                        messageDiv.style.display = 'none';
                    }
                }, 3000);  
            </script>

{% endblock %}